USE [NEO_SALES]
GO
/****** Objeto: StoredProcedure [dbo].[sp_CUSTOMER] Fecha de script: 19/07/2026 10:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE or ALTER   PROCEDURE [dbo].[sp_CUSTOMER]
(
    @p_ACTION VARCHAR(16),

    @p_ID UNIQUEIDENTIFIER  = NULL,
    @p_NIT VARCHAR(256) = NULL,
    @p_NAME VARCHAR(256) = NULL,
    @p_EMAIL VARCHAR(256) = NULL,
    @p_STATUS BIT = 1,
    @p_DATETIME_UPDATE DATETIME = NULL,
    @p_USER_CREATE VARCHAR(128) = NULL,
    @p_USER_UPDATE VARCHAR(128) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @p_ACTION = 'GET'
    BEGIN
        SELECT
            ID,
            NIT,
            [NAME],
            EMAIL,
            [STATUS],
            DATETIME_CREATE,
            DATETIME_UPDATE,
            USER_CREATE,
            USER_UPDATE
        FROM CUSTOMER
    END;

    IF @p_ACTION = 'GET_BY_ID'
    BEGIN
        SELECT
            ID,
            NIT,
            [NAME],
            EMAIL,
            [STATUS],
            DATETIME_CREATE,
            DATETIME_UPDATE,
            USER_CREATE,
            USER_UPDATE
        FROM CUSTOMER
        WHERE ID = @p_ID;
    END;

    IF @p_ACTION = 'SEARCH'
    BEGIN
        SELECT
            ID,
            NIT,
            [NAME],
            EMAIL,
            [STATUS],
            DATETIME_CREATE,
            DATETIME_UPDATE,
            USER_CREATE,
            USER_UPDATE
        FROM CUSTOMER
        WHERE   EMAIL LIKE '%' + @p_EMAIL + '%'
                OR
                NIT LIKE '%' + @p_EMAIL + '%';

    END;


    IF @p_ACTION = 'INSERT'
    BEGIN
        INSERT INTO CUSTOMER
        (
            ID,
            NIT,
            [NAME],
            EMAIL,
            [STATUS],
            USER_CREATE
        )
        OUTPUT
            INSERTED.ID,
            INSERTED.NIT,
            INSERTED.[NAME],
            INSERTED.EMAIL,
            INSERTED.[STATUS],
            INSERTED.DATETIME_CREATE,
            INSERTED.DATETIME_UPDATE,
            INSERTED.USER_CREATE,
            INSERTED.USER_UPDATE
        VALUES
        (
            NEWID(),
            @p_NIT,
            @p_NAME,
            @p_EMAIL,
            @p_STATUS,
            @p_USER_CREATE
        );
    END;


    IF @p_ACTION = 'UPDATE'
    BEGIN
        UPDATE CUSTOMER
        SET
            NIT = @p_NIT,
            [NAME] = @p_NAME,
            EMAIL = @p_EMAIL,
            [STATUS] = @p_STATUS,
            DATETIME_UPDATE = GETDATE(),
            USER_UPDATE = @p_USER_UPDATE
        OUTPUT
            INSERTED.ID,
            INSERTED.NIT,
            INSERTED.[NAME],
            INSERTED.[STATUS],
            INSERTED.EMAIL,
            INSERTED.DATETIME_CREATE,
            INSERTED.DATETIME_UPDATE,
            INSERTED.USER_CREATE,
            INSERTED.USER_UPDATE
        WHERE ID = @p_ID;
    END;


    IF @p_ACTION = 'DELETE'
    BEGIN
        DELETE FROM CUSTOMER
        WHERE ID = @p_ID;
    END;
END;
